#container {
  font-family: Arial, sans-serif;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

button {
  font-size: 1.5rem;
  padding: 10px 15px;
  border-radius: 10px;
  border: none;
  background-color: hsl(161, 35%, 33%);
  color: white;
  font-weight: bold;
}

button:hover {
  cursor: pointer;
  background-color: hsl(161, 34%, 40%);
}

button:active {
  background: hsl(161, 41%, 54%);
}

input {
  font-size: 2rem;
  width: 150px;
  text-align: center;
  font-weight: bold;
}

#diceResult {
  margin: 25px;
}

#diceImages img {
  width: 150px;
  margin: 5px;
}
